<app-search></app-search>
<div class="modal fade" id="modal-primary">
  <div class="modal-dialog">
    <div class="modal-content bg-primary">
      <div class="modal-header">
        <h4 class="modal-title">Primary Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

  <app-sidebar></app-sidebar>

  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <h2>Thông tin đặt hàng</h2>
      <div class="row">
        <div class="col-12 col-lg-7 cart-summary mt-0">

            <table class="table table-bordered ">
              <thead class="text-center">
              <tr>
                <th style="max-width: 5%;"># </th>
                <th style="max-width: 14%;" >Ảnh</th>
                <th style="min-width: 30%;">Tên sản phẩm</th>
                <th style="max-width: 15%;">Giá(VND)</th>
                <th style="max-width: 25%;" >Số Lượng</th>
                <th style="max-width: 10%;" >Xóa</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr *ngFor="let cartDetail of cartDetailList;index as i">
                <td style="max-width: 5%;">{{i+1}}</td>
                <td class="border-danger" style="max-width: 14%;">
                  <a href="#"><img src="http://localhost:8080/image/{{cartDetail.dish.image01}}" alt="Product" width="50px"></a>
                </td>
                <td class="cart_product_desc" style="min-width: 30%;">
                  <h6>{{cartDetail.dish.name}}</h6>
                </td>
                <td class="price" style="max-width: 15%;">
                  <span>{{cartDetail.dish.price}}</span>
                </td>
                <td class="qty text-center" style="max-width: 25%;">
                  <div class="cart-btn">
                    <div class="quantity">
                      <span class="qty-plus  w-50 h-25" (click)="increaseDishQuantity(i,cartDetail.id)" aria-hidden="false"><i class="fa fa-plus text-center" aria-hidden="true"></i></span>
                      <input type="text" class="text-center w-25 h-25 border-1 "  id="quantity"  name="quantity" [value]="cartDetail.quantity">
                      <span class="qty-minus" (click)="decreaseDishQuantity(i,cartDetail.id)" aria-hidden="false">  <i class="fa fa-minus font-italic" aria-hidden="true"></i> </span>
                    </div>

                  </div>
                </td>
                <td style="max-width: 10%;" (click)="removeDishOfCart(i,cartDetail.id)"><i class="fa fa-trash"></i></td>
              </tr>
              </tbody>
            </table>

            <ul class="summary-table">
              <li><span>Tổng Đơn hàng:</span> <span>{{billValue}} VND</span></li>
              <li><span>Phí vận chuyển:</span> <span>miễn phí</span></li>
              <li><span>Tổng:</span> <span>{{billValue}} VND</span></li>
            </ul>

            <div class="payment-method">
              <!-- Cash on delivery -->
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cod" checked>
                <label class="custom-control-label" for="cod">Thanh toán khi giao hàng(COD)</label>
              </div>
              <!-- Paypal -->
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="paypal">
                <label class="custom-control-label" for="paypal">Chuyển khoản ngân hàng</label>
              </div>
            </div>


        </div>
        <div class="col-12 col-lg-5 mt-0">
          <div class="checkout_details_area  clearfix">

            <div class="cart-title">
              <h4 class="text-center mb-30">THÔNG TIN NGƯỜI MUA</h4>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="row">
                <div class="col-12 mb-3">
                  <input type="email" id="inputEmail" class="form-control"
                         placeholder="Nhập địa chỉ email" formControlName="email">
                  <div class="validate" [hidden]="email.valid || !email.touched">
                    <div *ngIf="email.errors?.required">Email</div>
                    <div *ngIf="email.errors?.email">Sai định dang email</div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <input type="text" id="username" class="form-control"
                         placeholder="Nhập họ tên" formControlName="username">
                  <p class="validate" [hidden]="username.valid || !username.touched"> Họ và tên</p>
                </div>
                <div class="col-12 mb-3">

                  <input type="text" id="address" class="form-control"
                         placeholder="Nhập địa chỉ" formControlName="address" required>
                  <p class="validate" [hidden]="address.valid || !address.touched"> Nhập địa chỉ"</p>
                </div>
                <div class="col-12 mb-3">
                  <input type="text" id="phone" class="form-control"
                         placeholder="Nhập số điện thoại" formControlName="phone" required>
                  <p class="validate" [hidden]="phone.valid || !phone.touched"> Nhập số điện thoại</p>
                </div>
              </div>
              <div class="cart-btn text-center mt-30">
                <button  type="submit" class="btn btn-warning w-50">Đặt hàng</button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<app-footer></app-footer>

