<div class="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Đơn đặt hàng</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách Đơn</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover" *ngIf="orderList!=null">
                  <thead>
                  <tr class="text-center">
                    <th>STT</th>
                    <th>Người mua</th>
                    <th>Tên sản phẩm </th>
                    <th>Ảnh </th>
                    <th>Số lượng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Trạng thái</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr *ngFor="let order of orderSum;index as i">
                    <td>{{i+1}}</td>
                    <td>
                      <div>{{order.user.username}}</div>
                      <div> {{order.user.phone}},</div>
                      <div> {{order.user.address}}</div>
                    </td>
                    <td>
                      <div>{{order.product.name}}</div>
                      <div *ngFor="let x of order.optionList">{{x.name}}</div>
                    </td>
                    <td>
                      <img src="{{imgUrl}}{{order.product.image01}}" alt="" width="50px">
                      </td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.CreateDate}}</td>
                    <td>
                      <a type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                        {{order.status}}
                      </a>

                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <app-footer></app-footer>
<app-order-edit></app-order-edit>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>


  <!-- /.control-sidebar -->

</div>


