<div class="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm sản phẩm</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Điền Thông Tin Tùy chọn</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="optionForm" (ngSubmit)="submit()">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">1. Tên tùy chọn </label>
                    <input type="text" class="form-control" id="name" placeholder="Tên tùy chọn" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label for="price">2. Giá</label>
                    <input type="text" class="form-control" id="price" placeholder="Nhập Giá sản tùy chọn" formControlName="price">
                  </div>
                  <div class="form-group">
                    <label for="price">3. Nhóm tùy chọn</label>
                    <select class="form-control select2" style="width: 100%;" formControlName="group">
                      <option disabled [ngValue]="null"> Lựa chọn Nhóm</option>
                      <option *ngFor="let optionGroup of optionGroupList" value="{{optionGroup.id}}">{{optionGroup.name}}</option>
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer col-12 align-content-center">
                  <button type="submit" class="btn btn-primary mr-50 width-100">Cập nhật</button>
                  <a routerLink="/admin/option/list"><button  class="btn btn-primary width-100">Hủy</button></a>

                </div>


              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <app-footer></app-footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>


