<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

  <app-sidebar></app-sidebar>

  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="checkout_details_area mt-50 clearfix">

            <div class="cart-title">
              <h2>Thông tin nhận hàng</h2>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="row">
                <div class="col-12 mb-3">
                  <input type="email" id="inputEmail" class="form-control"
                         placeholder="Nhập địa chỉ email" formControlName="email">
                  <div class="validate" [hidden]="email.valid || !email.touched">
                    <div *ngIf="email.errors?.required">NEmail</div>
                    <div *ngIf="email.errors?.email">Sai định dang email</div>
                  </div>
                </div>
                <div class="col-12 mb-3">

                  <input type="text" id="username" class="form-control"
                         placeholder="Nhập họ tên" formControlName="username">
                  <p class="validate" [hidden]="username.valid || !username.touched"> Họ và tên</p>
                </div>
                <div class="col-12 mb-3">

                  <input type="text" id="address" class="form-control"
                         placeholder="Nhập địa chỉ" formControlName="address" required>
                  <p class="validate" [hidden]="address.valid || !address.touched"> Nhập số điện thoại</p>
                </div>
                <div class="col-12 mb-3">
                  <input type="text" id="phone" class="form-control"
                         placeholder="Nhập số điện thoại" formControlName="phone" required>
                  <p class="validate" [hidden]="phone.valid || !phone.touched"> Nhập số điện thoại</p>
                </div>
                <div class="col-12 col-lg-8">
                  <div class="custom-control custom-checkbox d-block mb-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Tạo tài khoản</label>
                  </div>
                  <button type="submit"
                          class="btn amado-btn w-100">Đăng Ký</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<app-footer></app-footer>
