<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="newhouse/home"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

<app-sidebar></app-sidebar>
  <div class="products-catagories-area clearfix ">
    <div class="amado-pro-catagory clearfix">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="section_title new_arrivals_title">

            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-12">
          <div class="product-topbar d-xl-flex align-items-end justify-content-between">

            <!-- Sorting -->
            <div class="product-sorting d-flex">
              <p class="mr-15" style="background: white">Danh mục</p>
              <div class="sort-by-date d-flex align-items-center mr-15" *ngIf="categories!=null">
                <select id="categoryId" class=" form-select-lg" style="min-width: auto" aria-label=".form-select-lg example" (change)="getDishByCategory()">
                  <option  value="0" >Tất cả</option>
                  <option  *ngFor="let y of categories"  value="{{y.id}}">{{y.name}}</option>
                </select>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="ProductList!=null">
        <!-- Single Product Area -->
        <div class="col-12 col-sm-3 col-md-12 col-xl-3" *ngFor="let product of ProductList;">
          <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
              <a routerLink="/newhouse/product/{{product.id}}">
              <img src="http://localhost:8080/image/{{product.image01}}" alt="">

              <!-- Hover Thumb -->
              <img class="hover-img" src="http://localhost:8080/image/{{product.image01}}" alt="">
              </a>
            </div>

            <!-- Product Description -->
            <div class="product-description d-flex align-items-center justify-content-between">
              <!-- Product Meta Data -->
              <div class="product-meta-data ratings-cart">
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="line"></div>
                <p class="product-price">{{product.price}} VND</p>
                <a routerLink="/newhouse/product/{{product.id}}">
                  <h6>{{product.name}}</h6>
                </a>
              </div>
              <!-- Ratings & Cart -->
              <div class=" text-right">
<!--                <div class="cart">-->
<!--                  <a href="cart.html" data-toggle="tooltip" data-placement="left" title="thêm vào giỏ"><i class="fa fa-shopping-cart" style="font-size: 30px"></i></a>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <!-- Pagination -->


          <nav aria-label="navigation">
            <ul class="pagination justify-content-end mt-50">
              <table>
                <tr>
                  <td style="width: 50px"> <li class="page-item w-auto"><a class="page-link font-bold" (click)="backPage()" > <<</a></li>  </td>
                  <td style="width: 50px">  <li id="0" class="page-item w-auto"><a class="page-link" (click)="backPage()">{{pageDisplay1}}</a></li></td>
                  <td style="width: 50px"> <li id="1" class="page-item w-auto active"><a class="page-link" (click)="getAllDishes(pageDisplay1 +1)">{{pageDisplay1 + 1}} </a></li></td>
                  <td style="width: 50px" > <li id="2" class="page-item w-auto"><a class="page-link" (click)="nextPage()">{{pageDisplay1 + 2}} </a></li></td>
                  <td style="width: 50px" > <li class="page-item w-auto"><a class="page-link" (click)="nextPage()" >>></a></li></td>
                </tr>
              </table>
            </ul>
          </nav>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<!--<app-newsletter></app-newsletter>-->
<app-footer></app-footer>
