



<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="admin/product/list" class="brand-link text-center">
    <span class="brand-text font-weight-light">New House</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex text-center">
      <div class="image">
        <img src="assets/img/core-img/logo_newhouse.jpg" class="" alt="User Image">
      </div>
      <div class="info text-center">
        <a href="#" class="d-block">Admintrator</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/admin/product/list" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
               Sản phẩm
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Tùy chọn
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/admin/option/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách tùy chọn</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin/option-group/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Nhóm tùy chọn</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/category/list" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
               Danh mục
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/order/list" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Đơn đặt hàng
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
