<!-- Header Area Start -->
<header class="header-area clearfix">
  <!-- Close Icon -->
  <div class="nav-close">
    <i class="fa fa-close" aria-hidden="true"></i>
  </div>
  <!-- Logo -->
  <div class="logo">
    <a href="index.html"><img src="assets/img/core-img/logo_newhouse.jpg" alt=""></a>
  </div>
  <!-- Amado Nav -->
  <nav class="amado-nav">
    <ul class="align-items-center">
      <li (click)="siderbarActive('sider01')" id="sider01" ><a routerLink="/newhouse">Trang chủ</a></li>
      <li (click)="siderbarActive('sider02')" id="sider02" ><a routerLink="/newhouse/shop/0">Sản Phẩm</a></li>
<!--      <li (click)="siderbarActive('sider03')" id="sider03"><a routerLink="/newhouse/shop">Bán chạy</a></li>-->
      <li (click)="siderbarActive('sider04')" id="sider04" ><a routerLink="/newhouse/about">Về Công ty</a></li>
    </ul>
  </nav>
  <!-- Button Group -->
  <div class="amado-btn-group mt-30 mb-100">

  </div>
  <!-- Cart Menu -->
  <div class="cart-fav-search mb-50">
    <a href="newhouse/cart" class="cart-nav"><img src="assets/img/core-img/cart.png" alt=""> Giỏ hàng (<span style="color: red">{{cartLengthChild}}</span>)</a>
    <a routerLink="/newhouse/history" class="fav-nav"><img src="assets/img/core-img/favorites.png" alt=""> Đã mua </a>
    <a href="#" class="search-nav"><img src="assets/img/core-img/search.png" alt=""> Tìm Kiếm</a>
  </div>
  <!-- Social Button -->
  <h4 class="mb-15"> Liên hệ:</h4>
  <div class="mb-15">
    <a class="" href="https://zalo.me/0375113000"><img src="assets/img/core-img/zaloLogo.jpg"  width="25px" alt="">  Zalo</a>
  </div>
 <div class="mb-15">
    <a class="mt-30" href="https://www.facebook.com/newhousecanvas"><img src="assets/img/core-img/facebook.png"  width="25px" alt=""> Tranh Treo Tường</a>
 </div>
    <a class="mt-100" href="https://www.facebook.com/daldecorloveu"><img src="assets/img/core-img/facebook.png"  width="25px" alt="">  Đồng hồ decor</a>

</header>
<!-- Header Area End -->
