<!-- Header Area Start -->
<header class="header-area clearfix">
  <!-- Close Icon -->
  <div class="nav-close">
    <i class="fa fa-close" aria-hidden="true"></i>
  </div>
  <!-- Logo -->
  <div class="logo">
    <a href="index.html"><img src="assets/img/core-img/logo_newhouse.jpg" alt=""></a>
  </div>
  <!-- Amado Nav -->
  <nav class="amado-nav">
    <ul>
      <li ><a routerLink="/newhouse">Trang chủ</a></li>
      <li ><a routerLink="/newhouse/shop/0">Sản Phẩm</a></li>
      <li  ><a routerLink="/newhouse/shop">Bán chạy</a></li>
      <li ><a routerLink="/newhouse/about">Về Công ty</a></li>
    </ul>
  </nav>
  <!-- Button Group -->
  <div class="amado-btn-group mt-30 mb-100">

  </div>
  <!-- Cart Menu -->
  <div class="cart-fav-search mb-100">
    <a href="newhouse/cart" class="cart-nav"><img src="assets/img/core-img/cart.png" alt=""> Giỏ hàng <span>({{this.cartLength}})</span></a>
    <a href="#" class="fav-nav"><img src="assets/img/core-img/favorites.png" alt=""> Đã mua </a>
    <a href="#" class="search-nav"><img src="assets/img/core-img/search.png" alt=""> Tìm Kiếm</a>
  </div>
  <!-- Social Button -->
  <div class="social-info d-flex justify-content-between">
    <a href="https://zalo.me/0397312493"><img src="assets/img/core-img/cart.png" alt=""></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>


</header>
<!-- Header Area End -->
