<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>

    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

<app-sidebar></app-sidebar>

  <!-- Product Details Area Start -->
  <div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-50">
              <li class="breadcrumb-item"><a href="#">Sản phẩm </a></li>
              <li class="breadcrumb-item active " *ngIf="product!=null"><a href="#">{{product.categories[0].name}}</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row" *ngIf="product!=null">
        <div class="col-12 col-sm-4" >
          <div class="col-12">
            <img src="{{mainProductImg}}" class="product-image" alt="Product Image">
          </div>
          <div class="col-12 product-image-thumbs"  >

            <div *ngIf="product.image01 != null" (click)="setImgMain(product.image01)" [style.border-color]="mainProductImg== product.image01? 'red' :  'white'" class="product-image-thumb active" ><img src="{{product.image01}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image02 != null" (click)="setImgMain(product.image02)" [style.border-color]="mainProductImg== product.image02? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image02}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image03 != null" (click)="setImgMain(product.image03)" [style.border-color]="mainProductImg== product.image03? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image03}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image04 != null" (click)="setImgMain(product.image04)" [style.border-color]="mainProductImg== product.image04? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image04}}" alt="Product Image" width="50px" height="auto" ></div>
          </div>
          <div class="col-12 product-image-thumbs">
            <div *ngIf="product.image05 != null" (click)="setImgMain(product.image05)" [style.border-color]="mainProductImg== product.image05? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image05}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image06 != null" (click)="setImgMain(product.image06)" [style.border-color]="mainProductImg== product.image06? 'red' :  'white'"class="product-image-thumb" ><img src="{{product.image06}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image07 != null" (click)="setImgMain(product.image07)" [style.border-color]="mainProductImg== product.image07? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image07}}" alt="Product Image" width="50px" height="auto"></div>
            <div *ngIf="product.image08 != null" (click)="setImgMain(product.image08)" [style.border-color]="mainProductImg== product.image08? 'red' :  'white'" class="product-image-thumb" ><img src="{{product.image08}}" alt="Product Image" width="50px" height="auto"></div>
          </div>



        </div>
        <div class="col-12 col-sm-6">
            <div class="single_product_desc">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
              <h2>{{product.name}}</h2>
              <div class="line w-auto"></div>
              <p class="product-price">{{price}} VND</p>

              <!-- Ratings & Review -->
              <div class="ratings-review mb-15 d-flex align-items-center justify-content-between" style="font-size: 20px">
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="false"></i>
                </div>
              </div>
              <!-- Avaiable -->
              <h5 class="avaibility"><i class="fa fa-circle mb-15"></i> Còn hàng</h5>
            </div>
            <form class="cart clearfix" [formGroup]="addProductForm" (ngSubmit)="addDishIntoCart()">
              <div class="mt-20" *ngIf="product != null" >
                <table class="width-100" *ngIf="product.optionGroups!=null">
                  <tr *ngFor="let option of product.optionGroups, index as i" >
                    <td  class="mt-1" style="min-width: 100px;"> <p style="background: white">{{option.name}}  </p></td>
                    <td class="text-center">
                      <select class=" form-select-lg mb-3" style="min-width: 250px" aria-label=".form-select-lg example" id="{{option.id}}"  (change)="selectOption()">
                        <option  *ngFor="let y of optionGroups[i]"  value="{{y.id}}"  >{{y.name}}</option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="cart-btn d-flex mt-30">
                <p>Số lượng</p>
                <div class="quantity">
                  <span class="qty-plus" (click)="increaseQuantity()"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                  <input type="number" class="form-control"  id="qty" step="1" min="1" max="300" name="quantity"  formControlName="quantity">
                  <span class="qty-minus" (click)="decreaseQuantity()" aria-hidden="true"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
              </div>
              <button  type="submit" name="addtocart" value="5" class="btn btn-warning fa-regular mt-50"><i class="fa fa-plus"></i> Thêm Vào Giỏ Hàng</button>
             <a routerLink="/newhouse/checkout">
              <button  type="submit" class="btn btn-primary  mt-50 ml-15">Thanh toán</button>
             </a>
            </form>
              <div class="short_overview my-5">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">MÔ TẢ SẢN PHẨM </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">CHI TIẾT SẢN PHẨM</button>
              </li>
            </ul>
                  <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <pre style="font-family: 'Times New Roman';font-size: 15px">{{product.description}}</pre>
              </div>
              <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <pre style="font-family: 'Times New Roman';font-size: 15px">{{product.specifications}}</pre></div>
            </div>
              </div>
              </div>

        </div>
      </div>
  </div>
  <!-- Product Details Area End -->
</div>
  </div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- ##### Main Content Wrapper End ##### -->
<app-footer></app-footer>
