<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>

    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

<app-sidebar></app-sidebar>

  <!-- Product Details Area Start -->
  <div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-50">
              <li class="breadcrumb-item"><a href="#">Sản phẩm </a></li>
              <li class="breadcrumb-item active "><a href="#">Đồng hồ</a></li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-1" ></div>
        <div class="col-12 col-lg-4">
          <div class="single_product_thumb">
            <div id="product_details_slider" class="carousel slide" data-ride="carousel" *ngIf="product != null">
              <ol class="carousel-indicators align-items-center" >
                <li class="active"  *ngIf="product.image01 != null" data-target="#product_details_slider" data-slide-to="0" [style.background-image]="'url(' + product.image01 + ')'">
                </li>
                <li *ngIf="product.image02 != null" data-target="#product_details_slider" data-slide-to="1" [style.background-image]="'url(' + product.image02 + ')'">
                </li>
                <li  *ngIf="product.image03 != null" data-target="#product_details_slider" data-slide-to="2" [style.background-image]="'url(' + product.image03 + ')'">
                </li>
                <li *ngIf="product.image04 != null" data-target="#product_details_slider" data-slide-to="3" [style.background-image]="'url(' + product.image04 + ')'">
                </li>
<!--                <li   *ngIf="product.image05 != null" data-target="#product_details_slider" data-slide-to="0" [style.background-image]="'url(' + product.image05 + ')'">-->
<!--                </li>-->
<!--                <li *ngIf="product.image06!= null" data-target="#product_details_slider" data-slide-to="1" [style.background-image]="'url(' + product.image06 + ')'">-->
<!--                </li>-->
<!--                <li  *ngIf="product.image07 != null" data-target="#product_details_slider" data-slide-to="2" [style.background-image]="'url(' + product.image07 + ')'">-->
<!--                </li>-->
<!--                <li *ngIf="product.image08 != null" data-target="#product_details_slider" data-slide-to="3" [style.background-image]="'url(' + product.image08 + ')'">-->
<!--                </li>-->
              </ol>

              <div class="carousel-inner">

                <div class="carousel-item active " *ngIf="product.image01 != null">
                  <a class="gallery_img" href="{{product.image01}}">
                    <img class="d-block  w-100" src="{{product.image01}}" alt="First slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image02 != null">
                  <a class="gallery_img" href="{{product.image02}}">
                    <img class="d-block w-100"  src="{{product.image02}}" alt="Second slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image03 != null">
                  <a class="gallery_img" href="{{product.image03}}">
                    <img class="d-block  w-100" src="{{product.image03}}" alt="Third slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image04 != null">
                  <a class="gallery_img" href="{{product.image04}}">
                    <img class="d-block   w-100" src="{{product.image04}}" alt="Fourth slide">
                  </a>
                </div>


                <div class="carousel-item" *ngIf="product.image05 != null">
                  <a class="gallery_img" href="{{product.image05}}">
                    <img class="d-block  w-100" src="{{product.image05}}" alt="Fourth slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image06 != null">
                  <a class="gallery_img" href="{{product.image06}}">
                    <img class="d-block  w-100" src="{{product.image06}}" alt="Fourth slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image07 != null">
                  <a class="gallery_img" href="{{product.image07}}">
                    <img class="d-block  w-100" src="{{product.image07}}" alt="Fourth slide">
                  </a>
                </div>
                <div class="carousel-item" *ngIf="product.image08 != null">
                  <a class="gallery_img" href="{{product.image08}}">
                    <img class="d-block w-100" src="{{product.image08}}" alt="Fourth slide">
                  </a>
                </div>

              </div>
            </div>


          </div>

        </div>
        <div class="col-12 col-lg-1" ></div>
        <div class="col-12 col-lg-6">
          <div class="single_product_desc">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
              <div class="line"></div>
              <p class="product-price">{{product.price}}</p>
              <a href="product-details.html">
                <h6>{{product.name}}</h6>
              </a>
              <!-- Ratings & Review -->
              <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- Avaiable -->
              <p class="avaibility"><i class="fa fa-circle"></i> Còn hàng</p>
            </div>

            <div class="short_overview my-5">
              <p>{{product.description}}</p>
            </div>
            <form class="cart clearfix" [formGroup]="addProductForm" (ngSubmit)="addDishIntoCart()">
              <div class="cart-btn d-flex mb-50">
                <p>Số lượng</p>
                <div class="quantity">
                  <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  <input type="number" class="form-control"  id="qty" step="1" min="1" max="300" name="quantity"  formControlName="quantity" value="1">
                  <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                </div>
              </div>
              <button  type="submit" name="addtocart" value="5" class="btn btn-warning">Thêm Vào Giỏ</button>
              <a class="btn btn-primary m-5">Mua ngay</a>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- ##### Main Content Wrapper End ##### -->
<app-newsletter></app-newsletter>
<app-footer></app-footer>
