<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

 <app-sidebar></app-sidebar>

  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="cart-title mt-50">
            <h2>Giỏ Hàng</h2>
          </div>

          <div class="cart-table clearfix">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th> Ảnh </th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Số lượng</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cartDetail of cartDetailList;index as i">
                <td class="cart_product_img">
                  <a href="#"><img src="{{cartDetail.dish.image01}}" alt="Product" width="50px"></a>
                </td>
                <td class="cart_product_desc">
                  <h5>{{cartDetail.dish.name}}</h5>
                </td>
                <td class="price">
                  <span>{{cartDetail.dish.price}}</span>
                </td>
                <td class="qty">
                  <div class="qty-btn d-flex">
                    <div class="quantity">
                      <span class="qty-minus" (click)="decreaseDishQuantity(i)"><i class="fa fa-minus" aria-hidden="true"></i></span>
                      <input type="number" class="qty-text" id="quantity" step="1" min="1" max="300" name="quantity" [value]="cartDetail.quantity">
                      <span class="qty-plus" (click)="increaseDishQuantity(i)"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="cart-summary">
            <h5>Tổng Đơn Hàng</h5>
            <ul class="summary-table">
              <li><span>subtotal:</span> <span>$140.00</span></li>
              <li><span>delivery:</span> <span>Free</span></li>
              <li><span>total:</span> <span>$140.00</span></li>
            </ul>
            <div class="cart-btn mt-100">
              <a routerLink="/auth/register" class="btn amado-btn w-100">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<app-newsletter></app-newsletter>
<app-footer></app-footer>
