<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

 <app-sidebar></app-sidebar>

  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="cart-title mt-50">
            <h2>Giỏ Hàng</h2>
            <div class="line w-auto"></div>
          </div>

          <div class="cart-table clearfix">
            <table class="table table-bordered m-20">
              <thead class="text-center">
              <tr>
                <th style="max-width: 5%;"># </th>
                <th style="max-width: 14%;" >Ảnh</th>
                <th style="min-width: 30%;">Tên sản phẩm</th>
                <th style="max-width: 15%;">Giá(VND)</th>
                <th style="max-width: 25%;" >Số Lượng</th>
                <th style="max-width: 10%;" >Xóa</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr *ngFor="let cartDetail of cartDetailDto;index as i">
                <td style="max-width: 5%;">{{i+1}}</td>
                <td class="border-danger" style="max-width: 14%;">
                  <a href="#"><img src="{{cartDetail.dish.image01}}" alt="Product" width="50px"></a>
                </td>
                <td class="cart_product_desc" style="min-width: 30%;">
                  <h6>{{cartDetail.dish.name}}</h6>
                  <h6> Tùy chọn:</h6>
                  <div *ngFor="let opt of cartDetail.productOptionName">
                  <h6  >{{opt}}</h6>
                  </div>
                </td>
                <td class="price" style="max-width: 15%;">
                  <span>{{cartDetail.dish.price}}</span>
                </td>
                <td class="qty text-center" style="max-width: 25%;">
                  <div class="cart-btn">
                    <div class="quantity">
                      <span class="qty-plus  w-50 h-25" (click)="increaseDishQuantity(i)" aria-hidden="false"><i class="fa fa-caret-up text-center" aria-hidden="true"></i></span>
                      <input type="text" class="text-center w-25 h-25 border-1 "  id="quantity"  name="quantity" [value]="cartDetail.quantity">
                      <span class="qty-minus" (click)="decreaseDishQuantity(i)" aria-hidden="false"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>

                  </div>
                </td>
                <td style="max-width: 10%;" (click)="removeDishOfCart(i)"><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <td  style="max-width: 50%;background: #e9ecef"> Tổng </td>
                <td colspan="3" style="max-width: 50%;" >{{billValue.toString()}} VND</td>
              </tr>
              </tbody>
            </table>
            <div class="cart-btn text-center col-12 mt-30">
              <table class="col-12">
                <tr>
                  <td><a routerLink="/newhouse/shop" class="btn btn-warning mr-30 width-100">Quay lại</a></td>
                  <td ><a routerLink="/newhouse/checkout" class="btn btn-warning ml-50 width-100">Thanh toán</a></td>

                </tr>


              </table>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<app-newsletter></app-newsletter>
<app-footer></app-footer>
