<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Trạng thái</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="" >
          <div class="card-body">
            <select class="form-control select2" style="width: 100%;" formControlName="status">
              <option *ngFor="let status of statusList " value="{{status.id}}">{{status.name}}</option>
            </select>
          </div>
          <!-- /.card-body -->

        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <a type="submit" class="btn btn-default" data-dismiss="modal">sửa</a>
        <a type="text" class="btn btn-default" data-dismiss="modal">Hủy</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
