<app-search></app-search>
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a href="index.html"><img src="assets/img/core-img/logo_newhouse_long.jpg" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>

<app-sidebar></app-sidebar>
  <!-- Product Catagories Area Start -->
  <div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

      <!-- Single Catagory -->

      <div class="single-products-catagory clearfix float-left" *ngFor="let category of categories; index as i">
        <a routerLink="/newhouse/shop/{{category.id}}">
          <img src="{{imgUrl}}{{categories[i].image}}" alt="">
          <!-- Hover Content -->
          <div class="hover-content">
            <div class="line"></div>
            <p>{{categories[i].name}}</p>
            <h4>{{categories[i].description}}</h4>
          </div>
        </a>
      </div>


    </div>
  </div>
  <!-- Product Catagories Area End -->
</div>

<!-- ##### Main Content Wrapper End ##### -->
<!--<app-newsletter></app-newsletter>-->
<app-footer></app-footer>
