<div class="shop_sidebar_area">

  <!-- ##### Single Widget ##### -->
  <div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Danh mục</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
      <ul>
        <li><a href="active">Đồng Hồ</a></li>
        <li><a href="#">Tranh</a></li>
        <li><a href="#">Vỏ gối Macrame</a></li>
        <li><a href="#">Đồ Decor</a></li>
      </ul>
    </div>
  </div>
  <!-- ##### Single Widget ##### -->
  <div class="widget price mb-50">
    <!-- Widget Title -->


    <div class="widget-desc">

    </div>
  </div>
</div>
