<div class="shop_sidebar_area">

  <!-- ##### Single Widget ##### -->
  <div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Danh mục</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
      <ul>
        <li><a href="active">Đồng Hồ</a></li>
        <li><a href="#">Tranh</a></li>
        <li><a href="#">Vỏ gối Macrame</a></li>
        <li><a href="#">Đồ Decor</a></li>
      </ul>
    </div>
  </div>
  <!-- ##### Single Widget ##### -->
  <div class="widget price mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Giá</h6>

    <div class="widget-desc">
      <div class="slider-range">
        <div data-min="10" data-max="1000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1000" data-label-result="">
          <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
          <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
          <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
        </div>
        <div class="range-price">0 - 1trVND</div>
      </div>
    </div>
  </div>
</div>
